<header>
  <img src="/static/images/BIET.jpg" class="image">
  <h2>BIET SOCIAL MEDIA, Jhansi</h2>
  <nav>
    <a href="/">Home</a>
     <a href="About.html">About</a>
  <a href="resident/login">Student login</a>
  <a href="guest/login">Alumnii login</a>
  </nav>
</header>